{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'funcionarios/css/funcionarios.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <h2>Funcionários</h2><br>
{#        <button style="color: #FFFFFF"  type="button" class="btn btn-modal" data-toggle="modal" data-target="#modalfuncionarios">#}
{#          Incluir#}
{#        </button>#}
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ações
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <button  type="button" class="btn btn-modal" data-toggle="modal" data-target="#modalfuncionarios">
                  Incluir
                </button>
                <hr>
                <button  type="button" class="btn btn-modal" data-toggle="modal">
                  Impimir
                </button>
            </div>
          </div>
    </div>
    <div class="container">
        {% include 'grid_funcionarios.html' %}
    </div>


{% endblock %}
{% block 'modais' %}
    {% include 'modal_funcionarios.html' %}
{% endblock %}
{% block 'scripts' %}
    <script src="{% static 'funcionarios/js/funcionarios.js' %}"></script>
{% endblock %}