

<!-- Modal -->
<div class="modal fade" id="modalfuncionarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" >Incluir Novo Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-warning" role="alert">
                  <p style="text-align: center">{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url "funcionarios" %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="col-md">
                    <p>Nome:</p>
                    <input type="text" class="form-control" placeholder="Nome" name="nome" id="nome" required>
                </div>
                <div class="col-md">
                    <p>CPF:</p>
                    <input type="text" class="form-control" placeholder="cpf" name="cpf" id="cpf" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button style="color: #FFFFFF; background-color: #61a52a; border-color: #60a42a" type="submit" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </form>
    </div>
  </div>
</div>