

<!-- Modal -->
<div class="modal fade" id="modalfuncionarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" >Incluir Novo Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form class="needs-validation" action="{% url "funcionarios" %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="col-md">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" name="nome" id="nome" required>
                </div>
                <div class="col-md">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" placeholder="cpf" name="cpf"  id="cpf" required>
                    <div id="validacaoCpf"></div>

                </div>
                <div class="col-md">
                    <label for="funcao">Função</label>
                    <select id="funcao" class="form-control" aria-label="Default select example" name="funcao">
                      <option selected value="">----</option>
                        {% for funcao in choices %}
                             <option value="{{ funcao }}">{{ funcao.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button style="color: #FFFFFF; background-color: #61a52a; border-color: #60a42a" type="submit" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </form>
    </div>
  </div>
</div>