{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div onclick="exibir_form('1')" class="col-md card-dashboard">
                <p>Adicionar Clientes</p>
            </div>
            <div onclick="exibir_form('2')" class="col-md card-dashboard">
                <p>Atualizar Clientes</p>
            </div>
        </div>
        <br>

        <div id="grid_clientes">
            {% include 'grid.html' %}
        </div>

        <div id="adicionar_cliente">
            {% include 'add_clientes.html' %}
        </div>

        <div  id="atualizar_cliente">

            {%  include 'atualizar_cliente.html' %}
        </div>


    </div>


{% endblock %}
    {% block 'scripts' %}
        <script src="{% static 'clientes/js/clientes.js' %}"></script>
    {% endblock %}