

{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>
  <body>
    {% if not not_sessao %}
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">MECÂNICA</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="#">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Página inicial</span>
            </a>
            <span class="tooltip">Página inicial</span>
          </li>
          <li>
          <a href="{% url 'clientes' %}">
            <i class="fa-solid fa-people-group"></i>
            <span class="links_name">Clientes</span>
          </a>
          <span class="tooltip">Clientes</span>
        </li>

          <li>
          <a href=" {% url 'funcionarios' %}">
            <i class="fa-solid fa-users-gear"></i>
            <span class="links_name">Funcionários</span>
          </a>
          <span class="tooltip">Funcionários</span>
        </li>
        <li>
          <a href="{% url 'novo_servico' %}">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <span class="links_name">Serviços</span>
          </a>
          <span class="tooltip">Serviços</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-folder' ></i>
            <span class="links_name">Agenda</span>
          </a>
          <span class="tooltip">Agenda</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Histórico</span>
          </a>
          <span class="tooltip">Histórico</span>
        </li>
        <li>
          <a href="{% url 'logout_view' %}">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span class="links_name">logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
        </ul>
      </div>
    {% endif %}
      <section class="home-section">
          {% block 'dashboard'%}
          {% endblock %}

      </section>

    {% block 'modais' %}
    {% endblock %}
    {% block 'grids' %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/56225d05f8.js" crossorigin="anonymous"></script>
    <script>
        // Caso o Usuário não esteja logado, a sidebar preenche toda tela.
        if(!$('.sidebar').html()){
            $('.home-section').css('left', '0px')
            $('.home-section').css('right', '0px')
            $('.home-section').css('width', '100%')
        }


    </script>
    <script src="{% static 'general/js/base.js' %}" defer></script>
    {% block 'scripts' %}
    {% endblock %}
  </body>
</html>